.footer {
    background-color: #504908;
    color: #faf5ed;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    & ul {
        display: flex;
        gap: 15px;

        & li {
            list-style-type: none; 
        }
    }
    & .social {
        display: flex;
        align-items: center;
    }
    & .social a:not(:last-child) {
        margin-right: 28px;
    }
    & a{
        text-decoration: none;
        color: #faf5ed;
    }
    & img {
        filter: invert(1);
    }
}