@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.imagemTrails {
    width: 100%;
    height: 372px;
    overflow: hidden;
    position: relative;
    & img {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}
.tituloTrails {
    font-family: "Inter", sans-serif;
    color: #13241A;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin: 100px 0;
}