.menu {
    background-color: #504908;
    color: #faf5ed;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    & ul {
        display: flex;
        gap: 40px;

        & li {
            list-style-type: none; 
        }
    }
    & a{
        text-decoration: none;
        color: #faf5ed;
    }
}